
code/.ipynb_checkpoints/gen_cpi-checkpoint.ipynb
.Rhistory
code/.ipynb_checkpoints/rifdistributionplots-checkpoint.ipynb
code/.ipynb_checkpoints/rifdistributionplots-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/riffig7plots-checkpoint.ipynb
code/.ipynb_checkpoints/rifdistributionplots-revised-checkpoint.ipynb
code/.ipynb_checkpoints/rifdistributionplots8919-bootstrap-w-errors-checkpoint.ipynb
code/.ipynb_checkpoints/rifreg2plots-checkpoint.ipynb
code/.ipynb_checkpoints/rifdid-sltt-plots-checkpoint.ipynb
code/.ipynb_checkpoints/rifdid-sltt-bw-plots-checkpoint.ipynb
code/.ipynb_checkpoints/rifdid-sltt-plots-wo-ar2w-checkpoint.ipynb
